doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='mk-golf', ng-controller='MainCtrl')
    button.button.button-positive(ng-click='reset()') Reset
    button.button.button-balanced(ng-click='start()') Start
    canvas#hole(ng-style="{'margin-top': hole.y + 'px', 'margin-left': hole.x + 'px'}", height='$scope.hole.x', width='$scope.hole.y')
    canvas#ball(height='$scope.ball.centerX', width='$scope.ball.centerY',
      ng-style="{'margin-top': ball.y + 'px', 'margin-left': ball.x + 'px'}")
