<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main_controller.js"></script>
  </head>
  <body ng-app="mk-golf" ng-controller="MainCtrl">
    <div class="screen">
      <h1>Golf</h1>
      <button ng-click="reset()" class="button-light">Reset</button>
      <button ng-click="start()" class="button-large button-light">Start</button>
      <div ng-style="{'margin-top': hole.x + 'px', 'margin-left': hole.y + 'px'}" class="hole">{{hole}}</div>
      <div class="ball">{{ball}}</div>
      <pre>{{data | json}}</pre>
      <pre>{{orientation | json}}</pre>
    </div>
  </body>
</html>