/* Empty. Add your own CSS if you like */
.screen{
  height: 100%;
  width:100%;
}

.hole{
  background-color: blue;
  position: absolute;
  height: 20px;
  width: 20px;
}

.ball{
  border: 1px solid black;
  display: inline-block;
  background-color: red;
  height: 30px;
  width: 30px;
}
